<h1>title</h1>
hello: <%= "hello" %>
<br>
translate_false: <%= 'hello'.translate_false %>
<br>
html_safe: <%= 'hello'.html_safe %>
<br>
Apple counter1: <%= 'apple'.io count: 1 %>
<br>
Apple counter2: <%= 'apple'.io count: 2 %>
<br>
DateTime: <%= DateTime.new(2015, 1, 1, 1, 1, 1, 1).io format: :long %>
<br>
Date: <%= Date.new(2012, 5, 15) %>
<br>
Time: <%= Time.new(2015, 12, 31, 23, 59, 59).io format: :short %>
<br>

